@import url("/_template/fonts/basement-grotesque/basement-grotesque.css");
@import url("/_template/fonts/baumans/baumans.css");
@import url("/_template/fonts/bebas-neue/bebas-neue.css");
@import url("/_template/fonts/goldman/goldman.css");
@import url("/_template/fonts/material-symbols/material-symbols.css");
@import url("/_template/fonts/montserrat/montserrat.css");
@import url("/_template/fonts/noto-sans/noto-sans.css");
@import url("/_template/fonts/oswald/oswald.css");
@import url("/_template/fonts/poppins/poppins.css");
@import url("/_template/fonts/rem/rem.css");
@import url("/_template/fonts/staatliches/staatliches.css");


body {
  margin: 0;
  color: white;
  font-family: "Noto Sans";
  
  
  /* font-family: "Basement Grotesque";
  font-family: "Baumans";
  font-family: "Bebas Neue";
  font-family: "Goldman";
  font-family: "Montserrat";
  font-family: "Oswald";
  font-family: "Poppins";
  font-family: "REM";
  font-family: "Staatliches"; */
}
