{%- 
  
include meta.html title="Fitness Coach" -%}{%- 
include header.html -%}{%- 

capture postPreviews -%}{%- 
  include posts-previews.html -%}{%- 
endcapture -%}{%- 

capture programsPreviews -%}{%- 
  include programs-previews.html -%}{%- 
endcapture -%}{%- 

capture testimonialsPreviews -%}{%- 
  include testimonials-previews.html -%}{%- 
endcapture -%}{{- 

page.content | 
    markdownify | 
    replace: "<posts-previews />", postPreviews |
    replace: "<programs-previews />", programsPreviews |
    replace: "<testimonials-previews />", testimonialsPreviews -}}{%- 

include footer.html

-%}
