{%- 
  
include meta.html title="Fitness Coach"

-%}

<link href="/_template/styles/home.css" rel="stylesheet" />

{%- 

include header.html -%}

<section id="dummy">

{%- 

capture postPreviews -%}{%- 
  include posts-previews.html -%}{%- 
endcapture -%}{%- 

capture programsPreviews -%}{%- 
  include programs-previews.html -%}{%- 
endcapture -%}{%- 

capture testimonialsPreviews -%}{%- 
  include testimonials-previews.html -%}{%- 
endcapture -%}{{- 

page.content | 
    markdownify |
    replace: "<h1 ", "</section><section class='home-section' " |
    replace: "</h1>", "" |
    replace: "<posts-previews />", postPreviews |
    replace: "<programs-previews />", programsPreviews |
    replace: "<testimonials-previews />", testimonialsPreviews
    
-}}

</section>
    
{%- 

include footer.html

-%}
